<ion-view view-title="Livro">
  <ion-content>
    <h1>
      Livro
    </h1>
    <div class="list">
      <label class="item item-input item-floating-label">
        <span class="input-label">ISBN</span>
        <input type="text" placeholder="ISBN" ng-model="livro.isbn">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Titulo</span>
        <input type="text" placeholder="Titulo" ng-model="livro.titulo">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Autor</span>
        <input type="text" placeholder="Autor" ng-model="livro.autores">
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          Categoria
        </div>
        <select ng-model="livro.genero">
          <option>autoajuda</option>
          <option>outros</option>
        </select>
      </label>
    </div>
    <button class="button button-assertive" ng-click="cancelar()">Cancelar</button>
    <button class="button button-balanced" ng-click="salvar()">Salvar</button>
    <button class="button button-assertive" ng-click="remove()">
      <i class="icon ion-trash-a"></i>
    </button>
  </ion-content>
</ion-view>