<ion-view view-title="Login">
    <ion-content style="text-align: center">
        <div style="height: 150px; margin-top: 20px">
            <img src="{{img || 'https://image.freepik.com/free-icon/male-user-shadow_318-34042.jpg'}}" style="height: 150px; border-radius: 100%;">
        </div>
        <br>
        <br>
        <br>
        <button class="button button-assertive" ng-click="googleLogin()" style="width: calc(100% - 40px); margin-left: 20px">Google</button>
    </ion-content>
</ion-view>